@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin-right: 2%;
    margin-left: 2%;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
.imageGrid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  font-size: 1rem;
}
.imageGrid > a{
  text-decoration: none;
}


@media screen and (max-width: 500px) {
  .imageGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.imageStyle {
  width: 100%; /* Adjust the width based on your design preference */
  height: 30vmin; /* Set a fixed height for consistency, adjust as needed */
  background-size: cover;
  background-position: center;
  border: 1px solid #ddd; /* Add a border for better visual separation */
  display: flex;
  color: white;
  font-weight: bold;
  align-items: flex-end; /* Align text to the bottom of the image */
  padding: 10px; /* Add padding to text for better visibility */
}



.imageStyle:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
div > p {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}
form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

form > input{
  width: 60%;
  max-width: 100%;
  height: 40px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
  border-bottom: 1px black solid;
  padding: 10px;
}
form > input:focus{
  outline: none;

}
.definition{
  font-size: 1.5rem;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}